.modal-run {
  position: fixed;
  left: 50%;
  margin-top: 100px;
  transform: translate(0, -50%);
  border: none;
}

.modal-run-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal-dialog {
  overflow-y: initial !important
}

.debug-wrapper {
  overflow-y: auto;
  position: fixed;
  width: 50vw;
  height: 70vh;
  padding: 0px 20px 20px 20px;
  color: white;
  font-size: 1.25em;
}

.debug-wrapper-buttons {
  display: flex;
  width: 100%;
  margin-top: 20px;
  height: 30px;
}
.errormsgs {
  font-size: 0.75em;
}

.errormsg {
  font-family: monospace, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.debug-group > label {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  color: rgba(175,17,27,1);
}

.debug-group {
  margin-top: 20px;
}