.position-bar-root {
    width: 600px; 
    height: 50%;
    display: flex;
    flex-direction: row;
}

.position-bar-background {
    background-color: white;
    height: 100%;
    width: 580px;
}

.position-value {
    font-size: 1.1em;
    margin-left: 5%;
    margin-bottom: 2%;
}

.cursor {
    height: 100%;
    background-color: #bf2727;
    width: 40px;
}