#list-container {
  margin-top: 0.2em;
  grid-column: 1/8;
  grid-row: 2/11;
  z-index: 2;
  background-color: #343434;
  color: #8f8f8f;
  height: 100%;
}

#list-close-button {
  border-radius: 50%;
  height: 1em;
  width: 1em;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0.5em;
}

#list-close-button:hover {
  cursor: pointer;
  color: #343434;
  background-color: #8f8f8f;
}

#list {
  height: 90%;
  overflow: auto;
}

.dataPoint {
  text-transform: capitalize;
  margin: 0.2em 0.5em 0.2em 0.5em;
  padding: 0.5em;
  font-size: 0.9em;
  width: 95%;
}

.dataPoint:hover {
  cursor: pointer;
  background-color: #8f8f8f;
  color: #343434;
}

.dataPoint--selected,
.dataPoint--selected:hover {
  color: green;
}
