.status-root {
    display: flex;
    background-color: inherit;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.module-status {
    background-color: #8F8F8F;
    border: 1px solid black;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imu-status {
    background-color: #8F8F8F;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imu-status:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.encoder-status {
    background-color: #8F8F8F;
    border: 1px solid black;
    width: 20%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.status-root .title {
    color: white;
    transform: rotate(-90deg);
    margin-left: -5%;
    margin-right: -8%;
    text-align: center;
}

.indicator-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 85%;
    width: 65%;
    margin-right: 5%;
}

.encoder-title {
    color: white;
    transform: rotate(-90deg);
    margin-left: -25%;
    margin-right: -25%;
    text-align: center;
}

.brake-status-container-wrapper {
    position: absolute;
    height: 50%;
    width: 40%;
}

.brake-status-container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;
    position: relative;
    height: 100%;
    width: 100%;
}

.brake-status {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8F8F8F;
    border: 1px solid black;
    width: 30%;
    height: 20%;
    margin: 0;
}

.brake-status:nth-child(1) {
    top: 0;
    left: 0;
}
.brake-status:nth-child(2) {
    top: 0;
    right: 0;
}
.brake-status:nth-child(3) {
    bottom: 0;
    left: 0;
}
.brake-status:nth-child(4) {
    bottom: 0;
    right: 0;
}

.brake-indicator-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}