.loading-wrapper {
  width: 50%;
  padding: 20px 0;
  text-align: center;
}

.loading-wrapper-content {
  width: 100%;
  text-align: center;
  color: white;
  vertical-align: middle;
  font-size: 1.2vw;
  margin-bottom: 20px;
}

.loading-wrapper-content .icon {
  font-size: 1.8vw;
  margin-right: 20px;
}

.loading-wrapper-content .icon.alert {
  color: yellow;
}

.loading-wrapper-content .icon.success {
  color: rgb(30,155,52);
}

.loading-wrapper-content .terminal-root {
  margin: 20px 0;
  font-size: 0.6em;
}