#timer {
    display: flex;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 15/17;
    align-items: center;
}
#time{    
    font-weight: 700;
    font-size:x-large;
    color: #ffffff;
}