.gui-wrapper {
  display: grid;
  grid-auto-columns: calc(calc(100% - calc(16px * 15))/16);
  grid-auto-rows: calc(calc(100% - calc(18px * 8))/9);
  height: calc(100vh - 36px);
  column-gap: 16px;
  row-gap: 18px;
  padding: 18px 16px;
}

.container {
  background-color: #191919;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.8);
}

/* Colors */

.bg-white {
  background-color: white;
  color: black;
}

.bg-transparent {
  background-color: transparent;
  color: white;
}

/* Colors gradient*/

.bg-white-gradient {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 55%, rgba(200,200,200,1) 100%);
  color: black;
}

.bg-white-gradient.button:hover, .bg-white-gradient.button.disabled {
  background: rgb(190,190,190);
}

.bg-blue-gradient {
  background: rgb(16,152,173);
  background: radial-gradient(circle, rgba(16,152,173,1) 55%, rgba(0,112,133,1) 100%);
  color: white;
}

.bg-blue-gradient.button:hover, .bg-blue-gradient.button.disabled {
  background: rgb(0,112,133);
}

.bg-red-gradient {
  background: rgb(175,17,27);
  background: radial-gradient(circle, rgba(175,17,27,1) 55%, rgba(148,0,0,1) 100%);
  color: white;
}

.bg-red-gradient.button:hover, .bg-red-gradient.button.disabled {
  background: rgb(148,0,0);
}

.bg-green-gradient {
  background: rgb(55,180,77);
  background: radial-gradient(circle, rgba(55,180,77,1) 55%, rgba(30,155,52,1) 100%);
  color: white;
}

.bg-green-gradient.button:hover, .bg-green-gradient.button.disabled {
  background: rgb(30,155,52);
}

