#terminal-container {
    grid-row: 3/10;
    grid-column: 10/21;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.terminal-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 88%;
    width: 100%;
    display: block;
    background-color: black;
    color: #FFF;
    border: 2px solid #1E1E1E;
    text-align: left;
}

.terminal-content > .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #343434;
}

.loading {
    height: 8%;
}

.footer {
    margin: 1%;
    width: 100%;
    height: 8%;
    display: flex;
}

pre {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 0.9em;
}

.footer input, select {
    margin-right: 10px;
    background-color: #FFF;
    color: #000;
    justify-content: "center";
}

.footer button {
    margin-right:10px;
    color: #000;    
    background-color: #FFF;
}

a {
    color: var(--text-color);
    text-decoration: none;;
}

.dropdown {
    position: absolute;
    width: 150px;
    transform: translateX(30%);
    background-color: #242526;
    border: 1px solid #474a4d;
    padding: 1rem;
    overflow: hidden;
}

.nav-item {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

.menu-item {
    height: 25px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    transition: background 500ms;
    padding: 0.5rem;
    color: #FFF;
  }

.menu-item:hover {
    animation: 0;
    background-color: #525357;
}
