#terminal-container {
    grid-row: 3/10;
    grid-column: 10/21;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.terminal-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 82%;
    width: 100%;
    display: block;
    background-color: black;
    color: #FFF;
    border: 2px solid #1E1E1E;
    text-align: left;
}

.terminal-content > .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #343434;
}

.loading {
    height: 8%;
}

.footer {
    margin: 1%;
    width: 100%;
    height: 7%;
    display: flex;  
    padding-left: 10px;
}

.footer.other {
    padding-bottom: 5px;
}

pre {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 0.9em;
}

input {
    padding-left: 10px;
    width: 350px;
    margin-right: 10px;
    border-radius: 6px;
    background-color: #FFF;
    color: #000;
    font-size: 18px;
    justify-content: "center";
}

.footer button {
    border-radius: 6px;
    margin-right: 10px;
    color: #000;    
    background-color: #FFF;
}

.toEndWrapper button {
    position: absolute;
    left: 58.5%;
    top: 77%;
    border-radius: 30px;
    font-size: 24px;
    color: #000;
    background-color: #FFF;
}

.toEndWrapper .button-icon {
    margin-right: 0px;
}

a {
    text-decoration: none;
}

.dropdown-log {
    position: absolute;
    width: 210px;
    background-color: #242526;
    border: 1px solid #474a4d;
    padding: 1rem;
    overflow: hidden;
    transform: translateX(0%);
}

.dropdown-sub {
    position: absolute;
    width: 210px;
    background-color: #242526;
    border: 1px solid #474a4d;
    padding: 1rem;
    overflow: hidden;
    transform: translateX(100%);
}

.menu-item {
    height: 25px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: 0.5rem;
    color: #FFF;
  }

.menu-item:hover {
    background-color: #525357;
}
