.header-root {
    grid-column: 1/13;
    grid-row: 1/1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    max-height: 8vh;
}

.hyped-logo {
    display: block;
    height: 100%;
}



.timer {
    font-size: 1.5em;
}

.pod-status {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pod-state {
    font-size: 0.5em;
}

.pod-connection.connected {
    color: green;
}

.pod-connection.disconnected {
    color: red;
}

.backend-connection {
    font-size: 0.5em;
}