.data-list-header {
  height: 26px;
  color: white;
  display: flex;
}

.data-list-header:hover {
  cursor: pointer;
  background: rgb(27,27,27);
}

.data-list-header > .data-list-header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding-right: 10px;
}

.data-list-body-collapse {
  transition: height 500ms;
  padding-left: 0px;
}
