#graphs-container {
    grid-row: 1/5;
    grid-column: 1/8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#graphs-container:nth-child(2n) {
    break-after: always;
    flex-basis: 100%;
}