.tabs-root {
    grid-column: 6/13;
    grid-row: 5/13;
    display: grid;
    grid-auto-rows: calc(100%/10);
    grid-auto-columns: calc(100%/7);
}

.tabs-container {
    grid-row: 1/1;
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;
    padding: 0.3em 0.5em 0.3em 0.3em;
    clip-path: polygon(0 0, calc(100% - 35px) 0, 100% 100%, 0% 100%);
    background-color: #343434;
}

.window-container {
    grid-column: 1/8;
    grid-row: 2/11;
    background-color: #343434;
    margin-top: 0.2em;
    display: flex;
}