.setup-logo {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.25em;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.setup-logo img {
  display: block;
  width: 100%;
  max-width: 300px;
}

.setup-logo .title {
  margin-top: 5px;
  display: block;
  width: 100%;
  text-align: center;
}